*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}   
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.language-btn img{
    width: 10px;
    margin-left: 10px;
}
.header-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
    width: 100%;
}
.header-content h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 20px;
    
}
.header-content h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;

}
.header-content p{
    font-size: 20px;
}
.email-signup{
    border-radius: 4px;
    align-items: center;
    margin-top: 20px;
    
}
.email-signup input{
    background-color: transparent;
    border: 0.5px solid #ccc;
    padding: 20px 30px;
    outline: 0;
    width: 20%;
    border-radius: 4px;
    background: rgba(22, 22, 22, 0.7);   
    color: #fff;
}

.email-signup button{
    background: #db0001;
    
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 4px;
    width: 15%;

} 
.email-signup button i{
    color: #fff;
    font-size: 22px;
    position: absolute;
}
/* ------------------------features---------------------- */
.features{
   
    font-size: 22px;
    border-top: 8px solid #303030;
    color: #777;
    
}
.row{
    display: flex;
    width: auto;
    align-items: center;
    flex-wrap: wrap;
     padding: 50px 12%;
}
.feature-1{
    position: relative;
    border-top: 8px solid #303030;
    color: #fff;
}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    color: #fff;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

/* -----------------Faq--------------- */
.faq{
    padding: 10px 12px;
    text-align: center;
    font-size: 18px;
    border-top: 8px solid #303030;
    color: #fff;
}
.faq h2{
    font-weight: 900;
    font-size: 50px;

}
.accordion{
    align-items: center;
    margin: 60px auto;
    width: 100%;
    max-width: 1200px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
.toggle-label {
    position: relative;
    cursor: pointer;
}

.toggle-label::before {
    content: '+';
    font-size: 40px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
    display: block;
}

.toggle-label.active::before {
    content: ''; 
}

.toggle-label.active::after {
    content: '+';
    font-size: 40px;
    position: absolute;
    right: 20px;
    transform: rotate(180deg);
    display: block;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq .email-signup{
    margin-bottom: 60px;
}
.faq small{
    font-size: 20px;
}
/* ----------------footer------------ */
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #303030;
    color: #777;
}
.footer h2{
    font-size: 15px;
    font-weight: 400;
    color: #ccc; 
    margin-bottom: 20px; 
}

.footer .col{
   flex-basis: 25%;
   flex-grow: 1;
   margin-bottom: 20px;
}
.footer .col a{
    display: block;
    color: #ccc;
    font-size: 14px;
    margin-bottom: 20px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;

}
.footer .language-btn{
    color: #fff;
    padding: 5px 20px;
    border-radius: 4px;
    width: auto;
}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ccc;
}

/* -------------------media queries ------------------------------- */
@media only screen and (max-width: 600px) {
    .logo{
        width: 100px;
    }
    nav button{
        padding: 5px 10px;
    }
    nav .language-btn{
        padding: 4px 8px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;   
    }
    .header-content h1{
        font-size: 30px;
    }
    .email-signup input{
       width: auto;
       padding: 10px 15px;
       font-size: 12px;
      }
    .email-signup button{
        font-size: 12px;
        padding: 10px 15px;
        width: auto;
    }
    .email-signup button i{
        font-size: 12px;
        position: relative;
    }
    .text-col, .img-col{
        flex-basis: 100%;

    }
    .features h2{
        font-size: 30px;

    }
    .features p{
        font-size: 15px;
        
    }
    .row:nth-child(2), .row:nth-child(4){
        flex-direction: column-reverse;
    }
    .faq h2{
        font-size: 20px;

    }
    .accordion .content{
        font-size: 14px;
    }
    .accordion li label{
        padding: 10px;
        font-size: 14px;

    }
    label::after{
        font-size: 22px;

    }
 
}